.convertToPostDialog {
  &-left {
    border-right: 1px solid #eee;
    &-selected-box {
      height: 150px;
      overflow: auto;
      padding: 5px 0;
      margin-right: 5px;
    }
    &-selected-chip {
      margin-right: 5px;
      margin-bottom: 5px;
      height: 27px !important;
    }
    &-convert {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      max-width: 150px;
    }
  }
  &-right {
    .MuiTableCell-root {
      padding: 8px 8px;
    }
  }
  &-footer-in {
    border-top: 1px solid #eee;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
