$TEAL: #00ACA0;
$TEAL_300: #4DB6AC;
$TEAL_200: #80CBC4;
$TEAL_100: #B2DFDB;
$TEAL_50: #E0F2F1;

$PURPLE: #7E57C2;
$PURPLE_300: #9575CD;
$PURPLE_200: #B39DDB;
$PURPLE_100: #D1C4E9;
$PURPLE_50: #EDE7F6;

$BLACK: #000000;
$BLACK_200: #C1C6C9;
$BLACK_400: #899296;
$BLACK_500: #3D3F40;
$GREY: #212121;
$GREY_900: #212121;
$GREY_700: #616161;
$GREY_600: #757575;
$GREY_500: #9E9E9E;
$GREY_400: #BDBDBD;
$GREY_300: #E0E0E0;
$GREY_100: #F5F5F5;
$GREY_50: #FAFAFA;
$WHITE: #FFFFFF;

$BLUE: #276EF1;
$BLUE_300: #5A90F4;
$BLUE_200: #9FBFF8;
$BLUE_100: #D4E2FC;
$BLUE_50: #EDF3FD;

$GREEN: #00AD50;
$GREEN_300: #43BF75;
$GREEN_200: #9EE2B8;
$GREEN_100: #CFF3DD;
$GREEN_50: #F0FAF3;
$GREEN_500: #52bf00;

$RED: #F44336;
$RED_300: #E57373;
$RED_200: #EF9A9A;
$RED_100: #FFCDD2;
$RED_50: #FFEBEE;
$RED_400: #EE4040;

$BROWN: #653818;
$BROWN_300: #B18976;
$BROWN_200: #D2BAB0;
$BROWN_100: #EBE0DB;
$BROWN_50: #F6F2F0;

$ORANGE: #FF6A39;
$ORANGE_300: #F19063;
$ORANGE_200: #F7BFA5;
$ORANGE_100: #FBE2D6;
$ORANGE_50: #FDF3EE;
$ORANGE_400: #ff900d;

$YELLOW: #FFB822;
$YELLOW_300: #FFCF70;
$YELLOW_200: #FFE3AC;
$YELLOW_100: #FFF2D9;
$YELLOW_50: #FFF9EF;

$PINK: #CC0066;
$PINK_300: #F06292;
$PINK_200: #F48FB1;
$PINK_100: #F8BBD0;
$PINK_50: #FCE4EC;

$GRAY: #899296;
$GRAY_DARK: #3d3f40;
$GRAY_SOLID: #DEE2EA;

$PRIMARY_LIGHT: #f5cce0;

$PRIMARY: $PINK;
$SECONDARY: $BLUE;
